---
name: authentik

services:
  authentik_server:
    container_name: authentik_server
    image: "ghcr.io/goauthentik/server:{{ authentik_version_tag }}"
    command: server
    depends_on:
      authentik_postgresql:
        condition: service_healthy
    user: "{{ authentik_uid }}:{{ authentik_gid }}"
    shm_size: 512mb
    env_file:
      - .env
    environment:
      AUTHENTIK_POSTGRESQL__HOST: authentik_postgresql
      AUTHENTIK_POSTGRESQL__NAME: "{{ authentik_postgres_database }}"
      AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS}
      AUTHENTIK_POSTGRESQL__USER: "{{ authentik_postgres_user }}"
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    volumes:
      - "{{ authentik_data_location }}:/data"
      - "{{ authentik_custom_templates_location }}:/templates"
    networks: [internal, proxy]
    restart: unless-stopped

  authentik_worker:
    container_name: authentik_worker
    image: "ghcr.io/goauthentik/server:{{ authentik_version_tag }}"
    command: worker
    depends_on:
      authentik_postgresql:
        condition: service_healthy
    user: "{{ authentik_uid }}:{{ authentik_gid }}"
    shm_size: 512mb
    env_file:
      - .env
    environment:
      AUTHENTIK_POSTGRESQL__HOST: authentik_postgresql
      AUTHENTIK_POSTGRESQL__NAME: "{{ authentik_postgres_database }}"
      AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS}
      AUTHENTIK_POSTGRESQL__USER: "{{ authentik_postgres_user }}"
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    volumes:
      - "{{ authentik_data_location }}:/data"
      - "{{ authentik_custom_templates_location }}:/templates"
    networks: [internal, proxy]
    restart: unless-stopped

  authentik_postgresql:
    container_name: authentik_postgresql
    image: docker.io/library/postgres:16-alpine
    env_file:
      - .env
    environment:
      POSTGRES_DB: "{{ authentik_postgres_database }}"
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_USER: "{{ authentik_postgres_user }}"
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    networks: [internal]
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      timeout: 5s
    restart: unless-stopped

networks:
  internal:
    internal: true
  proxy:
    external: true
