[defaults]
inventory = inventory/test/hosts.ini
# Ansible will issue a warning when received from a task action
action_warnings=True

# This option allows conditionals with non-boolean results to be used.
allow_broken_conditionals=False

;become_password_file=
;connection_password_file=
ask_pass=True
ask_vault_pass=True

# (integer) Maximum number of forks Ansible will use to execute tasks on target hosts.
;forks=5

# (path) Option for connections using a certificate or key file to authenticate, rather than an agent or passwords, you can set the default value here to avoid re-specifying ``--private-key`` with every invocation.
;private_key_file=


# (string) for the cases in which Ansible needs to return a file within an editor, this chooses the application to use.
editor=nano

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying connection plugin Ansible uses to connect to the host.
# Please read the documentation of the specific connection plugin used for details.
host_key_checking=False

# (string) Path to the Python interpreter to be used for module execution on remote targets, or an automatic discovery mode. Supported discovery modes are ``auto`` (the default), and ``auto_silent``. All discovery modes match against an ordered list of well-known Python interpreter locations. The fallback behavior will issue a warning that the interpreter should be set explicitly (since interpreters installed later may change which one is used). This warning behavior can be disabled by setting ``auto_silent``. The ``auto_legacy*`` modes are removed. They exist for backward-compatibility with older Ansible releases that always defaulted to ``/usr/bin/python3``, which will use that interpreter if present.
interpreter_python=auto_silent


[privilege_escalation]
# (boolean) Toggles the use of privilege escalation, allowing you to 'become' another user after login.
become=True

# (boolean) Toggle to prompt for privilege escalation password.
become_ask_pass=True

# (string) Privilege escalation method to use when `become` is enabled.
become_method=sudo

[tags]
# (list) default list of tags to run in your plays, Skip Tags has precedence.
;run=

# (list) default list of tags to skip in your plays, has precedence over Run Tags
;skip=

[sudo_become_plugin]
# (string) Sudo executable
;executable=sudo

# (string) Options to pass to sudo
;flags=-H -S -n

# (string) Password to pass to sudo
;password=

# (string) User you 'become' to execute the task
;user=root

# (string) Directory to change to before invoking sudo; can avoid permission errors when dropping privileges.
;chdir=
