---
name: vaultwarden

services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:{{ vaultwarden_image_tag }}
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    read_only: true
    user: "{{ vaultwarden_uid }}:{{ vaultwarden_gid }}"
    env_file:
      - .env
    volumes:
      - "{{ vaultwarden_data_location }}:/data"
    tmpfs:
      - /tmp
    networks: [proxy]
    restart: unless-stopped

networks:
  proxy:
    external: true
